body {
  color: green;
  background-color: black;
}
.template {
 display: block;
}

.template img {
 width: 48%;
 margin: 1%;
 display: inline;
}


.template h3 {
  width: 48%;
}

.template span {
  width: 48%;
  color: yelow;
}


h1 {
  text-align:center;
  line-height: 0%;
}

h2 {
  text-align:center;
  line-height: 60%;
}

a {
  color: green;
}

.link {
  color: green;
margin-left: 5%;
}

.link img {

 width: 5%;
 height: 7%;
}
