body {
  color: green;
  background-color: black;
}

.item {
 display: inline;
 margin: 2%;
}

.item img {
 width: 48%;
 display:inline;
 margin: 1%;
}


.item h3 {
  float: right;
  width: 48%;
}

.item p {
  float: right;
  width: 48%;
}

h1 {
  text-align:center;
  line-height: 0%;
}

h2 {
  text-align:center;
  line-height: 60%;
}

a {
  color: green;
}

.link {
  color: green;
margin-left: 5%;
}

.link img {

 width: 5%;
 height: 7%;
}
