body {
  color: green;
  background-color: black;
}

.item {
 display: inline;
 margin: 2%;
}

.item img {
 width: 48%;
 display:inline;
 margin: 1%;
}


.item h3 {
  float: right;
  width: 48%;
}

.item p {
  float: right;
  width: 48%;
}

h1 {
  text-align:center;
  line-height: 0%;
}

h2 {
  text-align:center;
  line-height: 60%;

}

#ucoz {
  color: green;
margin-left: 5%;
}

#ucoz img {

 width: 5%;
 height: 7%;
}

#git {
  color: green;

 margin-left: 5%;
}

#git img {
 display: inline;
 width: 5%;
 height: 7%;
}

#git h3 {}
